.header-image {
    display: block;
    width: 100%;
    background: url('../img/header_bg.png');
    height: 149px;
}

.headerwrapper {
    width: 850px;
    display: block;
    margin: 0 auto;
    padding: 16px 0px 0px 0px;
    height: 113px;
    margin: 0 auto;
}

.section { 
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 70px;
    margin-left: 50px;
    margin-right: 50px;
}

.section h2 {
    margin-bottom: 40px;
}

.section .margin {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-left: 50px;    
}

.page{
    background-color: #fff;
}

.menu {
    float: left;
    position: fixed;
    font-size: 20px;
    top: 30%;
}

.menu div{
    background-color: #3a87ad;
    color: #fff;
    text-shadow: none;
    background-image: none;
    
    padding: .40em;
    text-align: left;
    
    border-radius: 0px 10px 10px 0;
    -moz-border-radius: 0px 10px 10px 0;
    -webkit-border-radius: 0px 10px 10px 0;
    
    margin-bottom: 3px;
    
    width: 55px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    
    webkit-transition: 0.3s width ease, 0.5s transform ease;
    -moz-transition: 0.3s width ease, 0.5s transform ease;
    -o-transition: 0.3s width ease, 0.5s transform ease;
    -ms-transition: 0.3s width ease, 0.5s transform ease;
    
    transition: 0.3s width ease, 0.5s transform ease;
    transition-property: width, transform;
    transition-duration: 0.3s, 0.5s;
    transition-timing-function: ease, ease;
    transition-delay: initial, initial;
}

.menu .text {
    position: absolute;
    white-space: nowrap;
    top: auto;
    left: 54px;
    font-size: 16px;
    opacity: 0;
    
    -webkit-transition: 0.3s opacity 0.3s;
    -moz-transition: 0.3s opacity 0.3s;
    -o-transition: 0.3s opacity 0.3s;
    -ms-transition: 0.3s opacity 0.3s;
    transition: 0.3s opacity 0.3s;
}

.menu div:hover{
    width: 150px;
    
    webkit-transition: 0.3s width ease, 0.5s transform ease;
    -moz-transition: 0.3s width ease, 0.5s transform ease;
    -o-transition: 0.3s width ease, 0.5s transform ease;
    -ms-transition: 0.3s width ease, 0.5s transform ease;
    
    transition: 0.3s width ease, 0.5s transform ease;
    transition-property: width, transform;
    transition-duration: 0.3s, 0.5s;
    transition-timing-function: ease, ease;
    transition-delay: initial, initial;
}

.menu div:hover .text{
    opacity: 1;
    
    -webkit-transition: 0.3s opacity 0.3s;
    -moz-transition: 0.3s opacity 0.3s;
    -o-transition: 0.3s opacity 0.3s;
    -ms-transition: 0.3s opacity 0.3s;
    transition: 0.3s opacity 0.3s;
}

.menu a {
    color: #fff;
}
